<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="ClassD" class="com.gmail.ariyaagustian.training.spring.beans.BeanD">
        <property name="nomor" value="25"></property>
    </bean>
    <bean id="ClassC" class="com.gmail.ariyaagustian.training.spring.beans.BeanC">
        <property name="namaLengkap" value="Ariya Agustian"></property>
    </bean>
    <bean id="ClassB" class="com.gmail.ariyaagustian.training.spring.beans.BeanB">
        <constructor-arg ref="ClassC" name="c"></constructor-arg>
        <constructor-arg ref="ClassD" name="d"></constructor-arg>
    </bean>
    <bean id="ClassA" class="com.gmail.ariyaagustian.training.spring.beans.BeanA">
        <property name="b" ref="ClassB"></property>
    </bean>


</beans>